node_modules
.next
.git
.vscode
.github
.pnpm-store
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
docker-compose*.yml
Dockerfile
.dockerignore
biome.json
deprecated.eslint.config.mjs
README.md
