POSTGRES_USER=postgres
POSTGRES_PASSWORD= # openssl rand -hex 32
# Optional Umami Analytics:
# NEXT_PUBLIC_UMAMI_WEBSITE_ID=website-id
# NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://umami-instance.com/script.js
