services:
  db:
    image: postgres:18
    restart: always
    shm_size: 128mb
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: example
      POSTGRES_DB: rj

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - 8080:8080

  app:
    build: .
    ports:
      - "3000:80"
    depends_on:
      - db
    # env_file:
    #   - .docker.env
    environment:
      DB_PRISMA_URL: "postgresql://test:example@db:5432/rj?schema=public"
      DB_URL_NON_POOLING: "postgresql://test:example@db:5432/rj?schema=public"

volumes:
  pgdata:
